{{!-- (4) Página creada con bootstrap y Jquery--}}
{{> head}}

{{!-- Navbar de Bootstrap --}}
{{> navbar }}
{{!-- Contenido Principal --}}
<div class="row">
    <div class="jumbotron">    
        <div>
            <h2 class="display-4">About my web Page</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipiscing elit, malesuada suspendisse enim neque vehicula ullamcorper facilisi, porttitor morbi accumsan arcu erat tincidunt. Pellentesque viverra ac mi morbi nullam est nisl suscipit, eros mauris varius nam potenti scelerisque vehicula cursus pharetra, cras dis dictumst quis augue dignissim curabitur. Molestie dapibus accumsan vivamus massa convallis cras consequat curae, nibh dictumst nullam aenean arcu tempus aliquet dui, a commodo donec vehicula ornare mus sem. Magna enim vivamus mollis nibh arcu magnis curabitur viverra diam mattis non malesuada, massa tortor fermentum suspendisse taciti aliquam porta ornare quam consequat felis condimentum, fringilla himenaeos erat cubilia habitasse pharetra facilisi tempus urna elementum sed.
            </p>
            <p class="lead">
                Netus nibh ultricies sociis iaculis nullam ad dapibus cursus litora vestibulum luctus nisl fringilla hendrerit, quam sapien mi sagittis pharetra vehicula natoque augue nunc rutrum sollicitudin libero. Vehicula augue sem iaculis conubia integer sagittis facilisi, velit egestas felis donec himenaeos imperdiet, habitant sodales lacus malesuada mauris elementum. Rhoncus per molestie ut nullam erat ridiculus senectus, metus montes vel cum sociis commodo hac vulputate, dictumst class taciti vestibulum tortor netus. Nec per ante aptent donec viverra dictum convallis sociosqu, rhoncus integer semper facilisis fusce ut congue mattis lobortis, cursus laoreet nulla tincidunt auctor ultricies phasellus.
            </p>
        </div>
        <div class="col-10">
            <img src="/assets/img/darksouls.jpg" class="img-thumbnail" alt="img-thumbnail">
        </div>
    </div>
</div>

{{!-- Footer personalizado --}}
{{> footer}}

