{{!-- (4) Página creada con bootstrap y Jquery--}}
{{> head}}

{{!-- Navbar de Bootstrap --}}
{{> navbar }}
    
{{!-- Jumbotron de Bootstrap para el contenido main --}}
<div class="jumbotron">
  <h1 class="display-4">Hello, {{ nombre }}!</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit eleifend id mattis volutpat, praesent pretium aenean mauris vulputate in magna maecenas justo urna, a magnis tempor placerat fusce at tincidunt congue ante nec. Nisi imperdiet venenatis tortor sed dui rutrum malesuada varius accumsan iaculis maecenas, massa felis facilisi eu consequat quisque pellentesque conubia taciti. Diam curae fermentum nulla justo morbi nascetur ac ante lacinia id lobortis ullamcorper condimentum platea, etiam porta accumsan torquent velit mus eleifend purus dictum imperdiet sollicitudin suscipit. Non taciti varius cubilia ante eu sociis, parturient elementum laoreet habitant in, lectus hendrerit hac ridiculus nulla.</p>
  <p class="lead">Eros laoreet maecenas fermentum sapien ullamcorper cras sem parturient aptent proin taciti dictumst iaculis gravida nibh pharetra pretium, velit natoque accumsan auctor vitae fringilla vehicula cursus ridiculus urna torquent praesent viverra habitant porta. Etiam velit dictumst volutpat condimentum varius pellentesque tristique, taciti per dis feugiat consequat ultrices, platea pretium fermentum tortor purus parturient. Volutpat fringilla mollis torquent ante sagittis, id venenatis natoque a.</p>
  <p class="lead">Auctor senectus id mattis nec tempor sapien commodo lacinia suspendisse penatibus pretium dictum neque iaculis mauris habitant, feugiat rhoncus pellentesque tellus euismod phasellus vulputate orci lectus convallis eget tempus ad blandit mollis. Eget torquent magna scelerisque per tristique dictum montes et ante curabitur dictumst cursus, augue facilisi diam leo facilisis quam sodales vitae libero dui quisque. Inceptos blandit ultricies venenatis duis natoque risus praesent eget phasellus vulputate mus, augue sapien habitasse torquent iaculis penatibus eros suspendisse platea dictumst montes nisl, netus sed taciti varius nostra etiam accumsan velit laoreet turpis. Ultricies sagittis elementum augue sapien dis quam eros suscipit donec dapibus morbi, euismod class diam fermentum imperdiet mollis vitae metus non tempus, torquent gravida turpis hac dictum felis himenaeos cras inceptos malesuada.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{{!-- Footer personalizado --}}
{{> footer}}

